{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="my-4 bg-dark text-light p-3 rounded">
            <h1 class="display-1 text-center mt-4">VVV-Group</h1>
            <p class="lead my-5 mx-4 text-justify">Компания <b>VVV-Group</b> является разработчиком автомобильных и
                промышленных толщиномеров лакокрасочного покрытия. Мы представлены на рынке уже 9 лет и предлагаем своим
                покупателям максимально качественные, удобные и практичные приборы, которые прошли тестирование и
                показали себя как точные толщиномеры. Они с легкостью выявят любое повреждение и будут полезны даже
                самому неопытному пользователю!
            </p>
            <img class="w-100" src="{% static 'image.jpg' %}" alt="">
            <p class="lead my-5 mx-4 text-justify">
                Ценовой ряд представлен толщиномерами от самых недорогих до единиц премиум класса. У компании есть
                большая сеть дилеров по всей Украине. Поэтому, понравившуюся модель вы можете купить в своём городе, не
                прибегая к услугам транспортных компаний. На все товары действует официальная гарантия. У нас вы всегда
                можете проконсультироваться по любым интересующим вопросам относительно товаров. Наши дилеры с радостью
                вам помогут.
            </p>
        </div>
    </div>
{% endblock %}